:root{
    --prime-color-text: #212121;
    --web-part-inLogo-color: #2196F3;
    --studio-part-inLogo-color: #000000;
    --current-collor: #2196F3;
    --hover-color:#2196F3;
    --sub-prime-color-text: #757575;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--prime-color-text);
}
.title {
    margin: 0;
    padding: 0;
}
.list{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h1,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}


 .studia.current{
    color: var(--current-collor)
}
.portfolio.current{
    color: var(--current-collor)
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    border: 0;
}

 /* -----------HEADER----------- */
 header{
    border-bottom: 1px solid #ECECEC;
 }
.header-nav{
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-web {
    color: var(--web-part-inLogo-color);
}
.logo-studio{
    color: var(--studio-part-inLogo-color);
}
.nav {
 color: inherit;
}

.nav-list{
    display: flex;
    margin-left: 93px;
    gap: 50px;
}
.nav-list .nav-link{
    display: block;
    padding: 32px 0;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
}
.nav-link:hover,
.nav-link:focus{
    color: var(--hover-color);
    cursor: pointer;
}
.kontakt-list {
margin-left: auto;
list-style: none;
display: flex;
gap: 50px;
}

.kontakt-tel,
.kontakt-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
 color: var(--sub-prime-color-text);
}

.ikon{
    fill: currentColor;
}


.kontakt-tel:hover,
.kontakt-tel:focus,
.kontakt-mail:hover,
.kontakt-mail:focus{
    cursor: pointer;
    color: var(--hover-color);
}
.section{
    padding: 94px 0;
}

/* ----------------HERO----------------- */
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top:200px;
    padding-bottom: 200px;
    text-align: center;

    background-color: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/hw4/Img\ \(17\)\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
   
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
     font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    min-width: 216px;
    padding: 10px 32px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

/* --------------------FEATURES-------------------- */
.features-ikon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}

.features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-nav{
    display: flex;
    gap: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.main-item{
    flex-basis: 270px;
}
.main-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.main-text {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--sub-prime-color-text);
}

/*------------------ABOUT---------------- */
.about{
    padding-top: 0;
}
.about-list{
    display: flex;
    justify-content: space-between;
}
.about-title.title{
    margin-bottom: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}

/* -----------------НАША КОМАНДА------------------ */
.ikon-team{
    fill: #AFB1B8;
}
.team-ikons{
    display: inline-flex;
    gap: 10px;
    margin-top: 16px;
}
.ikon-teams{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

}
.ikon-teams:hover .ikon-team{
    fill: white;
}
.ikon-teams:hover{
    background-color: #2196F3;
    border-radius: 50%;
}
.team{
    padding-top: 94px;
    background-color: #F5F4FA;
}
.team-nav{
    display: flex;
}

.team-item{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: 30px;
}
.team-item:nth-child(1){
    margin-left: 0;
}
.image-text{
    text-align: center;
padding: 30px;
}

.team-title {
    margin-bottom: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(36/24);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sub-prime-color-text);
}

/* --------------------CLIENTS------------------- */
.clients-list{
    display: inline-flex;
    gap: 30px;

}
.clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
   
  
    
}
.ikon-clients{   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    fill: #AFB1B8;
}
.ikon-clients:hover,
.ikon-clients:focus{
    fill: #2196F3;
    border-color: #2196F3;
    color: #2196F3;
}

.clients-title {
    margin-bottom: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(36/24);
    text-align: center;
    letter-spacing: 0.03em;}
/*---------------------FOOTER-------------------  */

.footer {
    padding: 60px 0;
    background-color: #2F303A;
}
.footer-container{
   display: flex;
   align-items: baseline;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;

}

.footer-web {
    color: var(--web-part-inLogo-color);
}

.footer-studio {
    color: #FFFFFF;
}
.footer-address{
    margin-top: 20px;
}
.footer-list:first-child{
    margin-top: 0;
}
.footer-item{
    font-style: normal;
    margin-top: 9px;
}
.address-map {
    text-decoration: none;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-mail,
.address-tel { 
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/*---------------- FOOTER-LINKS -------------------- */
.footer-links {
    margin-left: 70px;
}

.footer-title {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.footer-links >.footer-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
.footer-list{
    margin-top: 20px;
}
.footer-link {
            width: 44px;
            height: 44px;
}

.footer-ikon{
    fill: #FFFFFF;
}
.footer-link > .ikon-teams{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.footer-link:hover >.ikon-teams{
    background-color: #2196F3;
}

/* ---------------------PORTFOLIO------------------- */
.portfolio-list{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
/* ------------------CARDS------------------ */


.projects{
    display: flex;
    flex-wrap: wrap;
     margin: -15px;
}


.project-item{
    width: 370px;
    margin: 15px;
}

.project-alltext{
    border: 1px solid #EEEEEE;
}
.project-alltext{
    border-top: none;
}



.project-item:hover,
.project-item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-alltext{
    padding: 20px 24px;
    border-top: none;

}
.portfolio-button {
    border-radius: 4px;
    padding: 6px 22px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}

/* --------------ПРИКЛАДИ ПРОЕКТІВ---------------- */
.project-link {
    text-decoration: none;
    color: inherit;
}
.project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}
.project-text {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--sub-prime-color-text);
}
